<h3> Casting Offices 
<%= render 'layouts/agency_brand' %> 
</h3>

<%= link_to "Register New Casting Office!", new_casting_office_path, class: 'text-primary' %>
<br>
  <% if current_agency.casting_offices.empty? %>
    <p>There are currently no casting offices associated with your agency.<p>
  <% else %>
    <br>
    <table class="table table-striped">
    <thead>
      <tr>
        <th class="text-left">Office</th>
        <th class="text-left">Phone Number</th>
        <th class="text-left">Email</th>
        <th class="text-center">Actions</th>
      </tr>
    </thead>
    <tbody>
    <% current_agency.casting_offices.each do |casting_office| %>
        <tr>
          <td class="text-left"><%= casting_office.name %></td>
          <td class="text-left"><%= casting_office.office_number %></td>
          <td class="text-left"><%= casting_office.email %></td>
          <td class="text-center">
          <%= link_to "Details", casting_office_path(casting_office), class: 'text-primary'%> |  
          <% if current_user.admin? %>
            <%= link_to "Edit", edit_casting_office_path(casting_office), class: 'text-warning'%> |
            <%= link_to "Delete", confirm_casting_office_delete_path(casting_office), class: 'text-danger'%>
          <% end %> 
          </td>
        </tr>
    <% end %>
    </tbody>
  </table>
<% end %>