<h3> Casting Office Form </h3>

<%= form_for @casting_office do |f| %>
    <%= f.hidden_field :agency_id %>
   <div>
    <%= f.label :name, "Name:" %>
    <%= f.text_field :name %>
    </div>

    <div>
    <%= f.label :email, "Email:" %>
    <%= f.text_field :email %>
    </div>

    <div>
    <%= f.label :office_number, "Office Phone:" %>
    <%= f.text_field :office_number %>
    </div>


    <div>
    <%= f.label :location %>
    <%= f.text_field :location %>
    </div>

    <div>
    <%= f.label :notes, "Notes:" %>
    <%= f.text_area :notes %>
    <div>
      <br>

    <%= f.submit "Submit Casting Office" %>
<% end %>