<h3><%= @casting_office.name %>
<%= render 'layouts/agency_brand' %>
</h3>

<dl class="row">
    <%= description_row("Email:", @casting_office.email) %>
    <%= description_row("Phone:", @casting_office.office_number) %>
    <%= description_row("Location:", @casting_office.location) %>
    <%= description_row("Notes:", @casting_office.notes) %>
</dl>

<%= link_to "Back to Casting Offices", casting_offices_path, class: 'text-primary'%>