<h3><%= full_name(@actor) %>
<%= render 'layouts/agency_brand' %> 
</h3>

<dl class="row">
    <%= description_row("Email:", @actor.email) %>
    <%= description_row("Union Affiliation:", union_status(@actor)) %>
    <%= description_row("Birthdate:", birthdate(@actor)) %>
    <%= description_row("Gender Portrayal:", @actor.gender_portrayal) %>
    <%= description_row("Notes:", @actor.notes) %>
</dl>

<%= button_to "Create Appointment", new_actor_appointment_path(@actor), :method => "get", :class => "btn btn-success" %>
<br>
<%= link_to "Back to Actors", actors_path, class: 'text-primary'%>
