<h1><%= full_name(@actor) %></h1>
<p><%= union_status(@actor) %></p>
<p><%= birthdate(@actor) %></p>
<p><%= @actor.email %></p>
<p><%= @actor.gender_portrayal %></p>
<p><%= @actor.location %></p>
<p><%= @actor.notes %></p>

<%= link_to "Create Appointment", new_actor_appointment_path(@actor) %>
