<%= render "devise/shared/error_messages", resource: @booking %>
<%= form_for @booking do |f| %>
    <%= f.hidden_field :agency_id %>
    
  <div class="form-group">
    <%= f.label :actor_id, "Actor:" %>
    <%= f.collection_select :actor_id, Actor.all, :id, :full_name, {:include_blank => true}, {:class => 'form-control'} %>
    <%= small_text("Select an actor.") %>
  </div>

  <div class="form-group">
    <%= f.label :project_id, "Project:" %>
    <%= f.collection_select :project_id, Project.all, :id, :name, {:include_blank => true}, {:class => 'form-control'} %>
    <%= small_text("Select the project.") %>
  </div>
   
  <div class="form-group">
    <%= f.label :role, "Role:" %>
    <%= f.text_field :role, class: 'form-control' %> 
    <%= small_text("Example: Hamlet") %>
  </div>

  <div class="form-group">
        <%= f.label :rate, "Rate:" %>
        <%= f.text_field :rate, class: 'form-control' %>
        <%= f.select :rate, ['Day', 'Week', 'Session', 'Flat Fee'], class: 'form-control' %>
        <%= small_text("Example: $1200 / day") %>
  </div>

  <div class="form-group">
    <%= f.label :rate, "Rate:" %>
    <%= f.text_field :rate, class: 'form-control' %> 
    <%= small_text("Example: $1200 / day") %>
  </div>

  <div class="form-group">
      <%= f.label :accepted, "Accepted?" %>
      <%= f.check_box :accepted %>
  </div>
  
  <div class="form-group">
      <%= f.label :contract_signed, "Contract Signed?" %>
      <%= f.check_box :contract_signed %>
  </div>

    <%= f.submit "Submit", class: 'btn btn-primary' %>
    
<% end %>