<%= form_for @user do |f| %>
    <div>
    Agency: <%= agency_name %>
    <%= agency_id_field(@user) %>
    <br>
    <br>
    <div>
    <%= f.label :username, "Username:" %>
    <%= f.text_field :username %>
    <div>
    <%= f.label :email, "Email:" %>
    <%= f.text_field :email %>
    <div>
    <%= f.label :password, "Password:" %>
    <%= f.password_field :password %>
    <div>
    <%= f.label :first_name, "First Name:" %>
    <%= f.text_field :first_name %>
    <div>
    <%= f.label :last_name, "Last Name:" %>
    <%= f.text_field :last_name %>
    
    <br>
    <br>
    <div>
    Admin
    <%= admin_field(@user) %>
    <%= first_admin(@user) %>
    <% if first_user?(@user) %>
        <p><i>By default, the first user is an administrator.  This can be changed later.</i></p>
    <% end %>
    <%=confirm_first_user(@user)%>
    <br>
    <br>
    
    <%= f.submit "Create User" %>
   <% end %>