<h1>New User Signup</h1>
<%= form_for(@user) do |f| %>
    <div>
    <%= f.label :username %>
  
    <%= f.text_field :username %>
  
    <div>
    <%= f.label :password %>
    
    <%= f.password_field :password %>
    
    <div>
    <%= f.label :email, 'Email Address' %>
    
    <%= f.text_field :email %>
    
    <div>
    <%= f.label :first_name %>
    
    <%= f.text_field :first_name %>
    
    <div>
    <%= f.label :last_name %>
    
    <%= f.text_field :last_name %>
    
    
    <div>
    <%= f.label :account_id, "Representation Account" %>
    <%= f.collection_select :account_id, Account.all, :id, :name, prompt: "Please select your office's account" %>
    <div>
    <%= f.submit "Create User" %>
<% end %>