<h3><%= full_name(@user) %>
<%= render 'layouts/agency_brand' %>
</h3>

<dl class="row">
    <%= description_row("Email:", @user.email) %>
    <%= description_row("Acccount Type:", @user.display_details) %>
</dl>

<br>
<%= edit_if_allowed(@user) %>