<h3><%= full_name(@user) %>
<%= render 'layouts/agency_brand' %>
</h3>

<dl class="row">
    <%= description_row("Email:", @user.email) %>
    <%= description_row("Acccount Type:", @user.display_details) %>
</dl>

<%= edit_if_allowed(@user) %>
<br><br>
<%= link_to "Home", root_path, class: 'text-primary'%>