<h3>Register New Agency</h3>
<%= form_for(@agency) do |f| %>
    
    <div>
        <%= f.label :name, 'Name:' %>
        <%= f.text_field :name %>    
    <div>
        <%= f.label :email, 'Agency Email:' %>
        <%= f.text_field :email %>
    <br>
    <br>
    
    <%= f.submit "Register Agency" %>
    <% end %>
    