<%= form_for(@agency) do |f| %>
    <h3>Create Your Agency</h3>
    <div>
        <%= f.label :name, 'Name:' %>
        <%= f.text_field :name %>    
    <div>
        <%= f.label :email, 'Agency Email:' %>
        <%= f.text_field :email %>
    <br>
    <br>
    
    <%= f.submit "Create Account" %>
    <% end %>