<%= form_for @project do |f| %>
    <%= f.hidden_field :agency_id %>
    <%= f.label :name, "Project Title:" %>
    <%= f.text_field :name %>
    
    <%= f.label :media_type, "Media:" %>
    <%= f.text_field :media_type %>
    
    <%= f.date_select(:start_date, prompt: {day: 'Choose day', month: 'Choose month', year: 'Choose year'}) %>
    
    <%= f.label :union, "Union:" %>
    <%= f.text_field :union %>
    
    <%= f.label :notes, "Notes:" %>
    <%= f.text_field :notes %>

    <p>
      <%= f.collection_select :casting_office_id, CastingOffice.all, :id, :name %>
    </p>

    <%= f.fields_for :casting_office, CastingOffice.new do |casting_office_fields| %>
      <%= casting_office_fields.label :name %>
      <%= casting_office_fields.text_field :name %>
    <% end %>
      <br>

    <%= f.submit "Create Project" %>
<% end %>