<h3><%= @project.name %>
<%= render 'layouts/agency_brand' %>
</h3>


<dl class="row">
    <dt class="col-sm-3">Casting Office:</dt>
    <dd class="col-sm-9"><%= casting_office(@project) %></dd>

    <dt class="col-sm-3">Media:</dt>
    <dd class="col-sm-9"><%= @project.media_type %></dd>

    <dt class="col-sm-3">Start Date:</dt>
    <dd class="col-sm-9"><%= start_date(@project) %></dd>

    <dt class="col-sm-3">Union:</dt>
    <dd class="col-sm-9"><%= @project.union %></dd>

    <dt class="col-sm-3">Notes:</dt>
    <dd class="col-sm-9"><%= @project.notes %></dd>

</dl>

<%= button_to "Create Appointment", new_project_appointment_path(@project), :method => "get", :class => "btn btn-success" %>
<br>
<%= link_to "Back to Projects", projects_path, class: 'text-primary'%>