<h3><%= @project.name %>
<%= render 'layouts/agency_brand' %>
</h3>


<dl class="row">
    <%= description_row("Casting Office:", @project.casting_name) %>
    <%= description_row("Media:", @project.media_type) %>
    <%= description_row("Start Date:", start_date(@project)) %>
    <%= description_row("Union:", @project.union) %>
    <%= description_row("Notes:", @project.notes) %>
</dl>

<%= button_to "Create Appointment", new_project_appointment_path(@project), :method => "get", :class => "btn btn-success" %>
<br>
<%= link_to "Back to Projects", projects_path, class: 'text-primary'%>