<h3><%= @project.name %></h3>
<p><%= casting_office(@project) %></p>
<p><%= @project.media_type %></p>
<p><%= start_date(@project) %></p>
<p><%= @project.union %></p>
<p><%= @project.notes %></p>

<%= link_to "Create Appointment", new_project_appointment_path(@project) %>
