<%= render "devise/shared/error_messages", resource: @appointment %>
<%= form_for @appointment do |f| %>
      <%= f.hidden_field :agency_id %>
      
    <div class="form-group">
      <%= f.label :actor_id, "Select Actor:" %>
      <%= f.collection_select :actor_id, Actor.all, :id, :full_name, {:include_blank => true}, {:class => 'form-control'} %>
      <small class="form-text text-muted">
        Select an actor for this appointment.
      </small>
    </div>

    <div class="form-group">
      <%= f.label :project_id, "Select Project:" %>
      <%= f.collection_select :project_id, Project.all, :id, :name, {:include_blank => true}, {:class => 'form-control'} %>
      <small class="form-text text-muted">
        Select a project for this appointment.
      </small>
   </div>
     
    <div class="form-group">
      <%= f.label :role, "Role:" %>
      <%= f.text_field :role, class: 'form-control' %> 
      <small class="form-text text-muted">
        Example: <strong>Hamlet</strong>
      </small>
    </div>
  
    <div class="form-group">
      <%= f.label :time, "Appointment Time:" %>
      <%= f.datetime_select(:time, class: 'form-control', ampm: true, prompt: true) %>
    </div>
  
    <div class="form-group">
      <%= f.label :address, "Address:" %>
      <%= f.text_field :address, class: 'form-control' %>
      <small class="form-text text-muted">
        List the address for this appointment.
      </small>
    </div>
    
    <div class="form-group">
        <%= f.label :callback, "Callback?" %>
        <%= f.check_box :callback %>
    </div>

    <div class="form-group">
        <%= f.label :booking_status, "Booking Status:" %>
        <%= f.select :booking_status, ['None', 'On-Hold', 'Booked'], class: 'form-control' %>
    </div>
    
   
    <br>
    <div class="form-group">
      <%= f.label :notes, "Appointment Notes:" %>
      <%= f.text_area :notes, class: 'form-control' %>
    </div>
  
  
      <%= f.submit "Submit", class: 'btn btn-primary' %>
      
  <% end %>