<h3>Appointment Details
<%= render 'layouts/agency_brand' %> 
</h3>
<strong class="text-success"><%= callback_alert(@appointment) %></strong>

<dl class="row">
    <%= description_row("Actor:", @appointment.actor_name) %>
    <%= description_row("Project:", @appointment.project_name) %>
    <%= description_row("Role:", @appointment.role) %>
    <%= description_row("Time:", @appointment.display_time) %>
    <%= description_row("Casting Office:", @appointment.casting_name) %>
    <%= description_row("Address:", @appointment.address) %>
    <%= description_row("Booking Status:", @appointment.booking_status) %>
    <%= description_row("Notes:", @appointment.notes) %>
</dl>

<%= link_to "Back to Appointments", appointments_path, class: 'text-primary'%>
