<h1>New Organization Account</h1>
<%= form_for(@account) do |f| %>
    <div>
    <%= f.label :username %>
  
    <%= f.text_field :username %>
  
    <div>
    <div>
    <%= f.label :name, 'Organization' %>
  
    <%= f.text_field :name %>
  
    <div>
    <%= f.label :password %>
    
    <%= f.password_field :password %>
    
    <div>
    <%= f.label :email, 'Email Address' %>
    
    <%= f.text_field :email %>
    
    <div>
    <%= f.fields_for :users, @account.users.build do |users_fields| %>
        <%= users_fields.label :username %>
        <%= users_fields.text_field :username %>
        <%= users_fields.label :password %>
        <%= users_fields.password_field :password %>
        <%= users_fields.label :first_name, "First Name" %>
        <%= users_fields.text_field :first_name %>
        <%= users_fields.label :last_name, "Last Name" %>
        <%= users_fields.text_field :last_name %>
        <%= users_fields.label :email %>
        <%= users_fields.text_field :email %>
        <%= users_fields.label :confirmed, "Confirmed" %>
        <%= users_fields.text_field :confirmed %>
        ### possibly an admin checkbox instead of confirmed
        the logic should be that if a user  is created
        through the creation of account, that user is automatically confirmed
        <% end %>
    <div>
    <%= f.submit "Create Account" %>
<% end %>