<!DOCTYPE html>
<html>
  <head>
    <title>TalentShepherd</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
  <nav>
    <%= link_to "Home |  ", root_path %>
    <% if !current_user %>
      <%= link_to "Register New Agency |  ", new_agency_path %>
      <%= link_to "Sign Up |  ", new_user_path %>
      <%= link_to('Login', new_user_session_path) %>
    <% end %>
    <% if current_user %>
      <%= link_to "Projects |  ", projects_path %>
      <%= link_to "Appointments |  ", appointments_path %>
      <%= link_to "Actors |  ", actors_path %>
      <%= link_to "Casting Offices |  ", casting_offices_path %>
      <%= link_to "Bookings |  ", bookings_path %>
      <%= link_to "#{current_user.first_name}'s Account |  ", user_path(current_user) %>
      <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
    <% end %>
  </nav>
  <div class="container">
  <% if flash[:message] != nil %>
  <div class="alert message">
    <mark><%= flash[:message] %></mark>
  </div>
<% end %>
<% if flash[:errors] != nil %>
<div class="error message">
  <% flash[:errors].each do |msg| %>
  <mark><%= msg %></mark><br>
  <% end %>
</div>
<% end %>

  <%= yield %>
  <body>
</html>
