<!DOCTYPE html>
<html>
  <head>
    <title>TalentShepherd</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
  <nav>
    <%= link_to "Home |  ", root_path %>
    <% if !current_user %>
      <%= link_to "Register New Agency |  ", new_agency_path %>
      <%= link_to "Sign Up |  ", new_user_path %>
      <%= link_to "Log in", signin_path %>
    <% end %>
    <% if current_user %>
      <%= link_to "Projects |  ", projects_path %>
      <%= link_to "Appointments |  ", appointments_path %>
      <%= link_to "Actors |  ", actors_path %>
      <%= link_to "Casting Offices |  ", casting_offices_path %>
      <%= link_to "Bookings |  ", bookings_path %>
      <%= link_to "#{current_user.username}'s Account |  ", user_path(current_user) %>
      <%= link_to "Log Out", signout_path %>
    <% end %>
  </nav>
  <%= yield %>
  <body>
</html>
