<!doctype html>
<html lang="en">
  <head>
      
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>Talent Shepherd</title>
  </head>
  <body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
  
  <%= link_to "TalentShepherd", root_path, :class => "navbar-brand" %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
  <% if !current_user %>
      <li class="<%= 'nav-item active' if current_page?(new_agency_path) %>">
        <%= link_to new_agency_path, :class => "nav-link" do %>Register Agency
          <%= (content_tag :span, "(current)", :class => "sr-only") if current_page?(new_agency_path) %>
        <% end %>
      </li>
      <li class="<%= 'nav-item active' if current_page?(new_user_registration_path) %>">
        <%= link_to new_user_registration_path, :class => "nav-link" do %>User Sign Up
          <%= (content_tag :span, "(current)", :class => "sr-only") if current_page?(new_user_registration_path) %>
        <% end %>
      </li>
      <li class="<%= 'nav-item active' if current_page?(new_user_session_path) %>">
        <%= link_to new_user_session_path, :class => "nav-link" do %>Log In
          <%= (content_tag :span, "(current)", :class => "sr-only") if current_page?(new_user_session_path) %>
        <% end %>
      </li>
  <% end %>
  <% if current_user %>
      <li class="<%= 'nav-item active' if current_page?(projects_path) %>">
        <%= link_to projects_path, :class => "nav-link" do %>Projects
          <%= (content_tag :span, "(current)", :class => "sr-only") if current_page?(projects_path) %>
        <% end %>
      </li>
      <li class="<%= 'nav-item active' if current_page?(appointments_path) %>">
        <%= link_to appointments_path, :class => "nav-link" do %>Appointments
          <%= (content_tag :span, "(current)", :class => "sr-only") if current_page?(appointments_path) %>
        <% end %>
      </li>
      <li class="<%= 'nav-item active' if current_page?(actors_path) %>">
        <%= link_to actors_path, :class => "nav-link" do %>Actors
          <%= (content_tag :span, "(current)", :class => "sr-only") if current_page?(actors_path) %>
        <% end %>
      </li>
      <li class="<%= 'nav-item active' if current_page?(casting_offices_path) %>">
        <%= link_to casting_offices_path, :class => "nav-link" do %>Casting Offices
          <%= (content_tag :span, "(current)", :class => "sr-only") if current_page?(casting_offices_path) %>
        <% end %>
      </li>
      <li class="<%= 'nav-item active' if current_page?(bookings_path) %>">
        <%= link_to bookings_path, :class => "nav-link" do %>Bookings
          <%= (content_tag :span, "(current)", :class => "sr-only") if current_page?(bookings_path) %>
        <% end %>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <%= current_user.first_name %>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <%= link_to "Account Info", user_path(current_user), :class => "dropdown-item" %>
          <%= link_to "Edit Details", edit_user_registration_path(current_user), :class => "dropdown-item" %>
          <div class="dropdown-divider"></div>
          <%= link_to "Log Out", destroy_user_session_path, method: :delete, :class => "dropdown-item" %>
        </div>
      </li>
    <% end %>
    </ul>
  </div>
</nav>
<%= render 'layouts/messages' %>
<div class="container">
  <%= yield %>
</div>
  

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>



